<div class="vit-list">
    <div *ngFor="let product of tableData">
        <app-vit-card
            *ngIf="product.productId"
            [product]="product"
        >
        </app-vit-card>
    </div>
    <div class="pagination-container">
        <div class="arrow-container" style="margin-left: 10px;">
            <div class="arrow" (click)="onClickArrow('LEFT')"><</div>
        </div>
        <ng-container *ngFor="let page of pagePaginator let index=index">
            <div *ngIf="page.state" [ngClass]="page.class" (click)="onClickPage($event, index, setFilter())">{{page.number}}</div>
        </ng-container>
        <div class="arrow-container" style="margin-right: 10px;">
            <div class="arrow" style="justify-self: end;" (click)="onClickArrow('RIGHT')">></div>
        </div>
    </div>
    <div *ngIf="loadState" class="spinner-container">
        <app-spinner></app-spinner>
    </div>
</div>
