.cart-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
}

.cart-list {
    flex-grow: 1;
    margin-top: 10px;
}

.cart-list h2 {
    color: #333333;
    font-size: 22px;
    margin-bottom: 15px;
}

.cart-checkout {
    max-width: 320px;
    width: 100%;
    padding: 3px 3px 3px 15px;
    height: 100%;
}

.cart-checkout-inner {
    border: 1px solid #eee;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.cart-checkout-title {
    margin: 15px auto 10px;
    text-align: center;
    font-size: 24px;
    background-color: #508e8e;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 8px;
    color: #fff;
}

.cart-checkout-row {
    justify-content: space-between;
    display: flex;
    margin: 10px;
    font-size: 18px;
    color: #456b9c;
}

.bank-card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bank-card-input-outer {
    min-height: 34px;
    min-width: 60px;
    border: 3px solid #6a6f6f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank-card-input {
    border: 0;
    outline: 0;
    height: 100%;
    width: 37px;
    background-color: inherit;
    font-size: 18px;
    color: #5d5d5d;
}
