<div class="cart-container">
    <div class="cart-list">
        <h2>CART:</h2>
        <ng-container *ngFor="let item of cart">
            <app-cart-item
                [item]="item"
                (qtyEmit)="onQtyEmit($event)"
                (deleteEmit)="onDeleteEmit($event)"
            ></app-cart-item>
        </ng-container>
        <div *ngIf="total == ''">EMPTY</div>
    </div>
    <div class="cart-checkout">
        <div class="cart-checkout-inner">
            <h3 class="cart-checkout-title">Order Summary</h3>
            <div class="cart-checkout-row">
                <div>Items Total:</div>
                <div>{{amount | price:'$'}}</div>
            </div>
            <div class="cart-checkout-row">
                <div>Shipping:</div>
                <div>{{shipping | price:'$'}}</div>
            </div>
            <div class="cart-checkout-row">
                <div>Total:</div>
                <div>{{total | price:'$'}}</div>
            </div>
            <div class="cart-checkout-row">
                <div>Enter bank card number:</div>
            </div>
            <div class="bank-card-container">
                <div class="bank-card-input-outer">
                    <input type="text" (input)="blockNotNumeric($event, in2)" (focus)="onFocus(in1)" class="bank-card-input" #in1>
                </div>
                <div class="bank-card-input-outer">
                    <input type="text" (input)="blockNotNumeric($event, in3)" (focus)="onFocus(in2)" class="bank-card-input" #in2>
                </div>
                <div class="bank-card-input-outer">
                    <input type="text" (input)="blockNotNumeric($event, in4)" (focus)="onFocus(in3)" class="bank-card-input" #in3>
                </div>
                <div class="bank-card-input-outer">
                    <input type="text" (input)="blockNotNumeric($event, null)" (focus)="onFocus(in4)" class="bank-card-input" #in4>
                </div>
            </div>
            <div class="checkout">
                <button button class="vit-button" [disabled]="!isValid()" (click)="placeOrder()">
                    <p>PAY</p>
                </button>
            </div>
        </div>
    </div>
</div>
