<div class="addproduct-cont">
    <div class="addproduct-head">
        <h3>Add product</h3>
    </div>
    <div class="addproduct-form">
        <div class="half-form">
            <div class="inner-half-form">
                <form [formGroup]="formGroup" (ngSubmit)="onAddNewProduct()" style="height: 100%; padding: 10px 5px;">
                    <!-- Product Name -->
                    <div class="form-stadart-cont">
                        <h3>Product name</h3>
                        <div class="input-cont">
                            <input formControlName="name" type="text" class="input-field" placeholder="Enter product name" readonly onfocus="this.removeAttribute('readonly')">
                        </div>
                        <div class="error-container">
                            <span class="control-error" 
                                *ngIf="formGroup.hasError('required', 'name') && !formGroup.get('name').untouched"
                            >
                                Required product name
                            </span>
                        </div>
                    </div>
                    <div class="form-flex">
                        <!-- Product Category -->
                        <div class="form-stadart-cont">
                            <h3>Category</h3>
                            <div class="input-cont selection">
                                <input 
                                    formControlName="category" type="text" 
                                    class="input-field" 
                                    (input)="onInputForPrompt($event, 'catList', 'catListBase')" 
                                    (blur)="onBlur(catList)" 
                                    placeholder="Enter category" readonly 
                                    onfocus="this.removeAttribute('readonly')"
                                >
                                <div class="prompt" *ngIf="catList.length > 0">
                                    <p *ngFor="let cat of catList" (click)="onPickPrompt(cat, 'category')">{{cat}}</p>
                                </div>
                            </div>
                            <div class="error-container">
                                <span class="control-error" 
                                    *ngIf="formGroup.hasError('required', 'category') && !formGroup.get('category').untouched"
                                >
                                    Required category
                                </span>
                            </div>
                        </div>
                        <!-- Product Manufacturer -->
                        <div class="form-stadart-cont">
                            <h3>Manufacturer</h3>
                            <div class="input-cont selection">
                                <input 
                                    formControlName="manufacturer" type="text" 
                                    class="input-field" 
                                    (input)="onInputForPrompt($event, 'manList', 'manListBase')"
                                    (blur)="onBlur(manList)" 
                                    placeholder="Enter manufacturer" readonly 
                                    onfocus="this.removeAttribute('readonly')"
                                >
                                <div class="prompt" *ngIf="manList.length > 0">
                                    <p *ngFor="let man of manList" (click)="onPickPrompt(man, 'manufacturer')">{{man}}</p>
                                </div>
                            </div>
                            <div class="error-container">
                                <span class="control-error" 
                                    *ngIf="formGroup.hasError('required', 'manufacturer') && !formGroup.get('manufacturer').untouched"
                                >
                                    Required manufacturer
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="form-stadart-cont">
                        <h3>Description</h3>
                        <div class="textarea-cont">
                            <textarea formControlName="description" rows="3" type="text" class="textarea-field" placeholder="Enter description" readonly onfocus="this.removeAttribute('readonly')"></textarea>
                        </div>
                        <div class="error-container">
                            <span class="control-error" 
                                *ngIf="formGroup.hasError('required', 'description') && !formGroup.get('description').untouched"
                            >
                                Required description
                            </span>
                        </div>
                    </div>
                    <!-- Product Composition -->
                    <div class="form-stadart-cont">
                        <h3>Composition</h3>
                        <div class="input-cont-composition">
                            <div class="form-composition">
                                <div class="form-composition-input">
                                    <h6>Suplement</h6>
                                    <div>
                                        <input type="text" #nameComposition>
                                    </div>
                                </div>
                                <div class="form-composition-qty">
                                    <h6>Q-ty</h6>
                                    <div>
                                        <input type="text" #qtyComposition>
                                    </div>
                                </div>
                                <div class="form-composition-plus" [attr.data-active]="addCompState" (click)="addToCompEditList()">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="22px" height="22px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20">
                                        <path fill="currentColor" d="M16 2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9h-4v4H9v-4H5V9h4V5h2v4h4v2z"/>
                                    </svg>
                                </div>
                            </div>
                            <div *ngIf="compositionEditList.length > 0" class="comp-list">
                                <div class="comp-list-table">
                                    <div *ngFor="let comp of compositionEditList let index = index" class="comp-list-row">
                                        <div style="min-width: 15px; text-align: center;">{{index+1}}.</div>
                                        <div style="width: calc(80% - 34px);">{{comp.supl}}</div>
                                        <div style="width: 20%;">{{comp.qty}}</div>
                                        <div>
                                            <div style="width: 15px; height: 15px;" (click)="onRemoveFromCompEditList(index)">
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM704 536c0 4.4-3.6 8-8 8H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h368c4.4 0 8 3.6 8 8v48z"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-flex" style="margin-top: 12px;">
                         <!-- Product Price -->
                        <div class="form-stadart-cont">
                            <h3>Price</h3>
                            <div class="input-cont-composition">
                                <div class="form-composition" style="justify-content: center;">
                                    <div class="form-composition-input">
                                        <h6>Whole number</h6>
                                        <div>
                                            <input type="text" style="text-align: right;" maxlength="10" #wholeNumber (input)="blockNotNumeric($event); onInputPrice();">
                                        </div>
                                    </div>
                                    <div class="form-composition-qty">
                                        <h6>Cents</h6>
                                        <div>
                                            <input type="text" style="text-align: right;" maxlength="2" #cents (input)="blockNotNumeric($event); onInputPrice();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="error-container">
                                <span class="control-error" 
                                    *ngIf="priceState"
                                >
                                    Required price
                                </span>
                            </div>
                        </div>
                        <!-- isActive -->
                        <div class="form-stadart-cont">
                            <h3>is Active</h3>
                            <div class="input-cont-checkbox" style="height: calc(100% - 14px);">
                                <div class="form-composition">
                                    <input type="checkbox" id="isActive">
                                    <label for="isActive" class="radio checkbox" (click)="toggleActive($event)">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- Product Files -->
                   <div class="form-stadart-cont">
                    <h3>Product images</h3>
                    <div class="input-cont-file">
                        <div class="file-field" (drop)="dropFiles($event)" (click)="fileInput.click()">Drop files or click</div>
                        <input type="file" accept="image/jpeg,image/png" #fileInput hidden="true" multiple (change)="addFiles($event)">
                        <div class="images-list">
                            <ng-container *ngFor="let url of listUrl let index = index">
                                <div style="position: relative;" (click)="changeMainImg(index)">
                                    <div class="img-cont" (click)="$event.stopPropagation(); removeImage(index);">
                                        <div class="img-cont-back"></div>
                                        <svg xmlns="http://www.w3.org/2000/svg" style="z-index: 1; position: absolute;" aria-hidden="true" role="img" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
                                            <path fill="currentColor" d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM676.1 657.9c4.4 5.2.7 13.1-6.1 13.1h-58.9c-4.7 0-9.2-2.1-12.3-5.7L512 561.8l-86.8 103.5c-3 3.6-7.5 5.7-12.3 5.7H354c-6.8 0-10.5-7.9-6.1-13.1L470.2 512L347.9 366.1A7.95 7.95 0 0 1 354 353h58.9c4.7 0 9.2 2.1 12.3 5.7L512 462.2l86.8-103.5c3-3.6 7.5-5.7 12.3-5.7H670c6.8 0 10.5 7.9 6.1 13.1L553.8 512l122.3 145.9z"/>
                                        </svg>
                                    </div>
                                    <img [src]="url.url" [ngClass]="url.active">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-container">
                    <div class="buttons-cont">
                        <button button class="vit-button" [disabled]="formGroup.invalid" type="submit">
                            <p>Confirm</p>
                            <div class="vit-button-loading" *ngIf="loadingState">
                                <svg class="rotate-svg" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 24">
                                    <path fill="currentColor" d="m7.5 21l2.999-3v1.5a7.501 7.501 0 0 0 5.299-12.811l2.114-2.124A10.465 10.465 0 0 1 21 12.002C21 17.8 16.3 22.5 10.502 22.5H10.5V24zM0 12C.007 6.204 4.704 1.507 10.499 1.5h.001V0l3 3l-3 3V4.5h-.002a7.502 7.502 0 0 0-5.299 12.812l-2.112 2.124a10.397 10.397 0 0 1-3.088-7.407v-.03v.002z"/>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="half-form">
            <div class="inner-half-form">
                <div #compPreview></div>
            </div>
        </div>
    </div>
</div>
