.vit-container {
    width: 100%;
}

.sign-popup-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    transition: background 1s;
}

.sign-popup {
    max-width: 350px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.vit-container.main {
    max-height: calc(100% - 45.6px - 39.2px);
    overflow: hidden;
    padding: 5px 25px;
}

@media(max-width: 969px) {
    .vit-container.main {
        padding: 5px;
    }
}

@media(max-width: 500px) {
    .vit-container.main {
        max-height: 100%;
        height: 100%;
    }
}
