.product-row {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 16px 0;
    display: flex;
}

.product-row-img {
    min-width: 100px; 
    min-height: 100px; 
    max-height: 100px;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.short-product {
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

.short-product p {
    font-family: 'Noticia-Text';
    font-size: 15px;
    color: #383838;
}

.short-product-remove {
    background-color: #bd3c37;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    width: fit-content;
    padding: 1px 10px 1px 9px;
    border-radius: 3px;
}

.product-row-price {
    font-family: 'Noticia-Text';
    font-size: 15px;
    color: #383838;
    font-weight: 700;
    margin-left: 8px;
    min-width: 60px;
    max-width: 60px;
}

.product-row-qty {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100px;
    margin: 0 20px;
    border: 1px solid #545454;
    border-radius: 8px;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    background-color: #e7f7ff;
}

.arrow-down {
    position: absolute;
    right: 1px;
    top: 4px;
    z-index: 100;
}

.select-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    border: 1px solid #545454;
    background-color: #e7f7ff;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    top: 34px;
    left: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

div[select="selected"] {
    color: #fff;
    background-color: #32815a;
}

.select-cont>div {
    width: 60px;
    border-radius: 8px;
    padding: 2px 16px;
    text-align: right;
    margin: 2px 0;
    transition: background-color 0.5s ease-in-out;
    position: relative;
}

.select-cont>div:hover:not(div[select="selected"]) {
    background-color: #97ebdb;
}

.mark {
    position: absolute;
    left: 7px;
    top: 3px;
    display: none;
}

div[select="selected"] .mark {
    display: block;
}

.price-block {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 968px) {
    .product-row {
        padding-left: 5px;
    }
    .product-row-price-one {
        display: none;
    }
}

@media(max-width: 833px) {
    .product-row-qty {
        width: 50px;
    }
    .select-cont {
        width: 50px;
    }
}

@media(max-width: 633px) {
    .short-product p {
        font-size: 12px;
    }
    .product-row-img {
        min-width: 50px;
        min-height: 50px;
        max-height: 50px;
    }
}
