.card-details-container {
    display: flex;
    padding-top: 20px;
    overflow-y: auto;
    height: 100%;
}

.card-details-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 342px;
}

.main-image {
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-image.empty {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: var(--f700);
    font-size: 28px;
    color: var(--colorerror);
}

.main-image.empty>div {
    font-family: var(--f700);
}

.mini-img {
    height: 70px;
    min-width: 74px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 0.5px;
    border: 0.5px solid #eeeeee00;
    box-sizing: content-box;
}

.mini-img.active {
    border: 0.5px solid #797979;
}

.image-carausel {
    min-width: 300px;
    max-width: 300px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}

.inner-image-carausel {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.arrow {
    position: absolute;
    top: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #858585;
    color: #fff;
    border-radius: 50%;
    padding: 0px 10px;
    opacity: 0.7;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

.card-details-title {
    font-size: 20px;
    color: var(--colorf1);;
}

.card-details-description {
    flex-grow: 1;
    padding: 0 15px;
}

.card-details-description>p>span {
    color: #1462dc;
}

.card-details-desc {
    font-size: 14px;
}

:host::ng-deep .preview-composition {
    font-size: 14px;
    display: flex;
    border-bottom: 1px solid #607d8b;
    padding: 3px;
}

.card-details-price {
    min-width: 250px;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
    height: fit-content;
}
