<div class="productlist-cont">
    <div class="productlist-head">
        <h3>Product List</h3>
    </div>
    <div class="productlist-main">
        <app-productlist-panel
            (searchEmit)="onSearchEmit($event)"
            [buttonState]="editDelStateDis"
        >
        </app-productlist-panel>
        <div class="productlist-table">
            <div class="table-scroll" #tableScroll>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th scope="col" width="50"><div>#</div></th>
                            <th scope="col"><div>Product name</div></th>
                            <th scope="col"><div>Manufacturer</div></th>
                            <th scope="col"><div>Category</div></th>
                            <th scope="col" width="100"><div>Price</div></th>
                            <th scope="col"><div>Active</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr #tr *ngFor="let product of tableData let index = index" (click)="onSelectRow(tr, product, 'editDelStateDis')">
                            <td scope="row" width="50">{{rowNumber+index+1}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.manufacturer}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.basePrice}}</td>
                            <td>{{product.isActive}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <div class="arrow-container" style="margin-left: 10px;">
                    <div class="arrow" (click)="onClickArrow('LEFT')"><</div>
                </div>
                <ng-container *ngFor="let page of pagePaginator let index=index">
                    <div *ngIf="page.state" [ngClass]="page.class" (click)="onClickPage($event, index)">{{page.number}}</div>
                </ng-container>
                <div class="arrow-container" style="margin-right: 10px;">
                    <div class="arrow" style="justify-self: end;" (click)="onClickArrow('RIGHT')">></div>
                </div>
            </div>
        </div>
    </div>
</div>
