.productlist-cont {
    margin-top: 15px;
    margin-bottom: 15px;
    height: calc(100% - 63px);
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.productlist-head {
    border: 2px solid var(--colorb1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    background-color: var(--colorblight1);
}

.productlist-head h3 {
    text-align: center;
    color: var(--colorf1);
}

.productlist-main {
    border-right: 2px solid var(--colorb1);
    border-left: 2px solid var(--colorb1);
    border-bottom: 2px solid var(--colorb1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: calc(100% - 32px);
    box-shadow: 12px 4px 15px 0px rgb(34 60 80 / 20%);
    display: flex;
}

.table-scroll {
    overflow: auto; 
    max-height: calc(100% - 10px);
    position: relative;
    border: 1px solid var(--colorb1);
    border-radius: 5px;
}

.data-table {
    width: 100%;
    min-width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
}

.productlist-table {
    padding: 10px 10px 0px 10px
}

.data-table td, .data-table th {
    padding: 6px;
    word-break: break-all;
}

.data-table th {
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: var(--colorblight1);
    font-size: 13px;
}

.data-table th, .data-table td {
    border-right: 0.5px solid var(--colorb1);
}

.data-table th:last-child, .data-table td:last-child {
    border-right: none;
}

.data-table td {
    border-top: 0.5px solid #dee2e6;
    text-align: center;
    font-size: 13px;
}

.data-table tbody tr:hover {
    background-color: #f3e2f3;
}

tbody tr.active {
    background-color: #f3e2f3;
}