.productlist-cont {
    margin-top: 15px;
    margin-bottom: 15px;
    height: calc(100% - 63px);
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

}

.productlist-head {
    border: 2px solid var(--colorb1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    background-color: var(--colorblight1);
    display: flex;
    align-items: center;
}

.productlist-head h3 {
    text-align: center;
    color: var(--colorf1);
    flex-grow: 1;
}

.productlist-main {
    border-right: 2px solid var(--colorb1);
    border-left: 2px solid var(--colorb1);
    border-bottom: 2px solid var(--colorb1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: calc(100% - 37px);
    display: flex;
}

.table-scroll {
    overflow: auto;
    max-height: calc(100% - 48px);
    height: calc(100% - 48px);
    position: relative;
    border: 0.5px solid var(--colorb1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

.data-table {
    width: 100%;
    min-width: 700px;
    table-layout: fixed;
    border-collapse: collapse;
}

.productlist-table {
    padding: 10px 10px 0px 10px;
    position: relative;
    overflow-x: auto;
}

.data-table td, .data-table th {
    padding: 6px;
    word-break: break-word;
}

.data-table th {
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: var(--colorblight1);
    font-size: 13px;
}

.data-table th, .data-table td {
    border-right: 0.5px solid var(--colorb1);
}

.data-table th:last-child, .data-table td:last-child {
    border-right: none;
}

.data-table td {
    border-top: 0.5px solid #dee2e6;
    text-align: center;
    font-size: 13px;
}

.data-table tbody tr:hover {
    background-color: #f3e2f3;
}

tbody tr.active {
    background-color: #f3e2f3;
}

tbody tr:last-child td {
    border-bottom: 0.5px solid #dee2e6;
}

.pagination-container {
    width: 100%; 
    background: #f4e5e4;
    border: 0.5px solid var(--colorb1);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.arrow-container {
    flex-grow: 1;
    display: grid;
}

.arrow {
    cursor: pointer;
    width: 28px;
    height: 28px;
    user-select: none;
    border: 1px solid var(--colorf2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorf2);
    transition: background-color 0.5s linear;
}

.arrow:hover {
    background-color: #d9f2ee;
}

.page-num {
    margin-right: 5px;
    cursor: pointer;
    min-width: 28px;
    min-height: 28px;
    user-select: none;
    border: 1px solid var(--colorf2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorf2);
    transition: background-color 0.5s linear;
}

.page-num:hover {
    background-color: #d9f2ee;
}

.three-dots {
    margin-right: 5px;
    min-width: 13px;
    text-align: center;
    user-select: none;
}

.page-num.active {
    color: var(--colorb1);
    border: 1px solid var(--colorb1);
}

.spinner-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-product {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 1001;
    transform: translate3d(-2000px, 0px, 0px);
    transition: transform 0.5s ease-in-out;
}

.panel-button {
    display: none;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    cursor: pointer;
}

.panel-button:hover svg {
    fill: #000;
}

@media(max-width: 1080px) {
    .productlist-main {
        position: relative;
        overflow: hidden;
    }

    .productlist-main>div:first-child {
        display: none; 
        opacity: 0; 
        transition: 
        opacity 0.5s ease-in-out;
    }

    .panel-button {
        display: block;
    }
}
