<div class="slide" #sideSlide>
    <div class="slide-header">
        <div style="flex-grow: 1; align-items: center; display: flex;">
            <h2 class="slide-title">Add new user</h2>
        </div>
        <div class="slide-close" (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="#5c3c3c" d="M18 3H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1Z"/>
                <path fill="#5c3c3c" d="M14.71 9.29a1 1 0 0 0-1.42 0L12 10.59l-1.29-1.3a1 1 0 0 0-1.42 1.42l1.3 1.29l-1.3 1.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l1.29-1.3l1.29 1.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42L13.41 12l1.3-1.29a1 1 0 0 0 0-1.42Z"/>
            </svg>
        </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onAddNewUser()">
        <div class="form-container">
            <!-- Username -->
            <div class="form-stadart-cont">
                <h3>Username</h3>
                <div class="input-cont">
                    <input formControlName="username" type="text" class="input-field" placeholder="Enter username" (input)="onInput($event)" readonly onfocus="this.removeAttribute('readonly')">
                </div>
                <div class="error-container">
                    <span class="control-error" 
                        *ngIf="
                            formGroup.hasError('required', 'username') && !formGroup.get('username').untouched || 
                            formGroup.hasError('minlength', 'username') && !formGroup.get('username').untouched"
                    >
                        Required usename, minimum length 6 letters
                    </span>
                </div>
            </div>
            <!-- Email -->
            <div class="form-stadart-cont">
                <h3>Email</h3>
                <div class="input-cont">
                    <input formControlName="email" type="email" class="input-field" placeholder="Enter email" (input)="onInput($event)" readonly onfocus="this.removeAttribute('readonly')">
                </div>
                <div class="error-container">
                    <span class="control-error" 
                        *ngIf="
                            formGroup.hasError('required', 'email') && !formGroup.get('email').untouched || 
                            formGroup.hasError('email', 'email') && !formGroup.get('email').untouched"
                    >
                        Required email
                    </span>
                </div>
            </div>
            <!-- Password -->
            <div class="form-stadart-cont">
                <h3>Password</h3>
                <div class="input-cont">
                    <input formControlName="password" type="password" class="input-field" placeholder="Enter password" (input)="onInput($event)" readonly onfocus="this.removeAttribute('readonly')">
                </div>
                <div class="error-container">
                    <span class="control-error" 
                        *ngIf="
                            formGroup.hasError('required', 'password') && !formGroup.get('password').untouched || 
                            formGroup.hasError('minlength', 'password') && !formGroup.get('password').untouched"
                    >
                        Required usename, minimum length 6 letters
                    </span>
                </div>
            </div>
            <!-- Role -->
            <div class="form-stadart-cont">
                <h3>Role</h3>
                <div class="role-cont">
                    <ng-container *ngFor="let box of valueBox">
                        <input type="radio" [attr.id]="box.role" [(ngModel)]="box.role" formControlName="role" [checked]="true"/>
                        <label [attr.for]="box.role" class="radio" (click)="addActive($event)">User</label>
                    </ng-container>
                    <!-- <input type="radio" id="user" value="ROLE_USER" formControlName="role" [checked]="true"/>
                    <label for="user" class="radio active" (click)="addActive($event)">User</label>
                    <input type="radio" id="admin" value="ROLE_ADMIN" formControlName="role"/>
                    <label for="admin" class="radio" (click)="addActive($event)">Admin</label> -->
                </div> 
            </div>
        </div>
    </form>
</div>
