.form-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-stadart-cont {
    min-width: 350px;
    padding: 0 20px;
    margin-bottom: 5px;
}

.form-stadart-cont>h3 {
    width: 100%;
    color: var(--colorf1);
    font-size: 14px;
    line-height: 14px;
    padding-left: 3px;
}

.input-cont {
    height: 34px;
    background-color: #ededed;
    padding: 0 4px;
    border-radius: 5px;
    margin: auto;
    border: 2px solid var(--colorb1);
}

.input-field {
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
}

.error-container {
    max-height: 12px;
    min-height: 12px;
    font-size: 11px;
    padding-left: 3px;
    color: var(--colorerror);
}

input[type=checkbox], input[type=radio] {
    display: none;
}
  
label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin: 2px;
    font-size: 14px;
    line-height: 22px;
    min-width: 100px;
}

label.radio:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 14px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 3px solid var(--colorb1);
}

label.radio:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #ffc107;
    top: 8px;
    left: 20px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s linear;
    z-index: -1;
    overflow: hidden;
}

.radio.active:after {
    transform: scale(3);
}

.role-cont {
    border: 2px solid var(--colorb1);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}


.event-message {
    min-height: 20px;
    font-size: 14px;
    color: var(--colorerror);
    text-align: center;
}