<div class="productlist-panel">
    <div class="productlist-panel-inner">
        <!-- Search -->
        <div class="form-stadart-cont">
            <div class="input-cont">
                <input type="text" 
                    class="input-field" 
                    placeholder="Search Products" 
                    readonly onfocus="this.removeAttribute('readonly')" 
                    id="product-search"
                />
            </div>
        </div>
        <!-- Category -->
        <div class="form-stadart-cont" style="margin-top: 15px;" [attr.data-filter]="'catList'">
            <div class="input-cont selection">
                <input 
                    type="text" 
                    class="input-field" 
                    (input)="onInputForPrompt($event, 'catList', 'catListBase')"
                    placeholder="Chose category" readonly 
                    onfocus="this.removeAttribute('readonly')"
                />
                <div class="prompt" *ngIf="catList.length > 0">
                    <p *ngFor="let cat of catList let index = index" (click)="onPickPrompt('catList', index, 'catListSelected')">{{cat}}</p>
                </div>
            </div>
        </div>
        <!-- Manufacturer -->
        <div class="form-stadart-cont" style="margin-top: 15px;" [attr.data-filter]="'manList'">
            <div class="input-cont selection">
                <input 
                    type="text" 
                    class="input-field" 
                    (input)="onInputForPrompt($event, 'manList', 'manListBase')"
                    placeholder="Chose manufacturer" readonly 
                    onfocus="this.removeAttribute('readonly')"
                />
                <div class="prompt" *ngIf="manList.length > 0">
                    <p *ngFor="let man of manList let index = index" (click)="onPickPrompt('manList', index, 'manListSelected')">{{man}}</p>
                </div>
            </div>
        </div>
        <!--Price-->
        <div class="form-stadart-cont" style="margin-top: 15px; display: flex; align-items: center;">
            <div>
                <div class="input-cont">
                    <input type="number" 
                        class="input-field" 
                        placeholder="Min price" 
                        readonly onfocus="this.removeAttribute('readonly')" 
                        id="product-price-from"
                        (input)="setPrice('min', $event)"
                    />
                </div>
            </div>
            <p style="margin: 0 10px; color: #119d89;">TO</p>
            <div>
                <div class="input-cont">
                    <input type="number" 
                        class="input-field" 
                        placeholder="Max price" 
                        readonly onfocus="this.removeAttribute('readonly')" 
                        id="product-price-to"
                        (input)="setPrice('max', $event)"
                    />
                </div>
            </div>
        </div>
        <div class="filter" *ngIf="catListSelected.length > 0">
            <p>Selected categories:</p>
            <div class="filter-container">
                <ng-container *ngFor="let selectedCat of catListSelected let index = index">
                    <div>
                        <div class="selected-item">{{selectedCat}}</div>
                        <div class="svg-remove" (click)="removeSelectedFilter(index, 'catList')">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="13px" height="13px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                <path fill="#fff" d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm0 26C9.4 28 4 22.6 4 16S9.4 4 16 4s12 5.4 12 12s-5.4 12-12 12z"/>
                                <path fill="#fff" d="M21.4 23L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z"/>
                            </svg>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="filter" *ngIf="manListSelected.length > 0" style="margin-top: 5px;">
            <p>Selected manufactureries:</p>
            <div class="filter-container">
                <ng-container *ngFor="let selectedMan of manListSelected let index = index">
                    <div>
                        <div class="selected-item">{{selectedMan}}</div>
                        <div class="svg-remove" (click)="removeSelectedFilter(index, 'manList')">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="13px" height="13px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                <path fill="#fff" d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm0 26C9.4 28 4 22.6 4 16S9.4 4 16 4s12 5.4 12 12s-5.4 12-12 12z"/>
                                <path fill="#fff" d="M21.4 23L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z"/>
                            </svg>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="form-stadart-cont" style="margin-top: 10px; display: flex; align-items: center; justify-content: space-between;" *ngIf="buttonAction">
            <div class="buttons-cont">
                <button button class="vit-button" [disabled]="buttonState">
                    <p>Edit product</p>
                </button>
            </div>
            <div class="buttons-cont">
                <button button class="vit-button del" [disabled]="buttonState">
                    <p>Delete product</p>
                </button>
            </div>
        </div>
    </div>
</div>
