.productlist-panel {
    height: 100%;
    padding: 10px;
    width: 300px;
}

.productlist-panel-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #bffef8, #ffe1e1);
    box-shadow: 1px -3px 9px 3px rgb(114 255 255 / 16%);
    border-radius: 10px;
    padding: 10px 0;
    overflow: auto;
}

:host .input-cont {
    background-color: #f3e2f3;
    height: 28px;
}

:host .input-cont.selection .prompt {
    top: 27px;
    border: 2px solid var(--colorb1);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
}


input[type=number] {
    -moz-appearance: textfield;
}

.select {
    border: none; 
    background-color: 
    #c6f3ec; 
    border-radius: 3px;
}

.select:focus-visible {
    outline: none;
    border: none;
}

.select-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 2px solid var(--colorb1);
    padding: 4px;
    border-radius: 5px;
}

.select-cont p {
    font-size: 14px;
}

.panel-arrow-down {
    display: none;
    width: 15px; 
    height: 15px;
    position: absolute;
    right: 28px;
    top: 8px;
    transition: transform .3s ease-in-out;
}

.panel-arrow-down.active {
    transform: rotate(180deg);
}

@media (max-width: 620px) {
    .productlist-panel.productlist-card {
        width: 100%;
    }

    .productlist-panel.productlist-card .productlist-panel-inner {
        height: 47px;
        overflow: hidden;
    }
    .panel-arrow-down {
        display: block;
    }
    .productlist-panel.productlist-card .productlist-panel-inner>.form-stadart-cont:first-child {
        position: relative;
    }
}

